.testimonial-container {
  padding-top: 50px;
}
.testimonial {
  position: relative;
  width: 1250px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
.testi-heading {
  text-align: center;
  margin-bottom: 150px;
}
.testi-heading span {
  color: var(--gen-color);
  font-weight: bolder;
}
.testi-box {
  width: 700px;
  height: 400px;
  background-color: #f8f8f8;
  border-radius: 7px;
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 0px 50px;
}
.testi-img img {
  width: 120px;
  transform: translate(-80px, -50px);
}
.testi-box p {
  position: absolute;
  top: 130px;
  font-size: 14px;
  font-weight: bolder;
}
.testi-box h4 {
  font-weight: 100;
  position: absolute;
  top: 270px;
}
.testi-box h5 {
  position: absolute;
  top: 310px;
}
.testimonial button {
  height: 20px;
}
.next,
.previous {
  transform: translate(0%, 50%);
}
.next img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.previous img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
