.testimonial-container {
  padding-top: 50px;
}
.testimonial {
  position: relative;
  width: 1250px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
.testi-heading {
  text-align: center;
  margin-bottom: 150px;
}
.testi-heading span {
  color: var(--gen-color);
  font-weight: bolder;
}

.testi-box {
  width: 800px;
  height: 400px;
  background-color: #f8f8f8;
  border-radius: 7px;
  position: relative;
}
.testi-img img {
  width: 120px;
  transform: translate(-50px, -50px);
}
.testi-box p {
  position: absolute;
  top: 150px;
  left: 30px;
  font-size: 14px;
  font-weight: bolder;
  width: 700px;
}

.testi-box h4 {
  font-weight: 100;
  position: absolute;
  top: 270px;
  left: 30px;
}
.testi-box h5 {
  position: absolute;
  top: 310px;
  left: 30px;
}
.testi-body img {
  width: 15px;
}
.testi-body img:nth-child(1) {
  left: 30px;
  top: 100px;
  position: absolute;
}
.testi-body img:nth-child(3) {
  position: absolute;
  right: 30px;
  bottom: 150px;
}
.testimonial button {
  height: 20px;
}
.next,
.previous {
  transform: translate(0%, 50%);
}
.next img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.previous img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.circle-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: 0px auto;
}

.circle {
  width: 17px;
  height: 17px;
  border-radius: 50px;
  background-color: #868282;
}
