.intro-container {
  background: #f8f8f8;
  padding: 95px 0px 40px 0px;
}

.IntroSection {
  width: 1250px;
  margin: 50px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  overflow: hidden;
}

.introSection-left h1 {
  font-size: 40px;
  margin-bottom: 50px;
}
.introSection-left span {
  color: var(--gen-color);
}
.introSection-left p {
  margin-bottom: 50px;
  width: 600px;
  line-height: 1.7rem;
}
.introSection-left a {
  text-decoration: none;
  margin-right: 30px;
}
.introSection-left a:nth-child(1) {
  color: white;
  background: var(--gen-color);
  padding: 10px 30px;
}
.introSection-left a:nth-child(2) {
  color: var(--gen-color);

  border: 1px solid var(--gen-color);
  padding: 10px 35px;
}
.introSection-right {
  width: 500px;
  height: 500px;
  background: url("../../../assets/im.jpg") no-repeat center center/cover;
  transform: translateY(-30px);
}
@media screen and (max-width: 1600px) {
  .IntroSection {
    width: 1350px;
    margin: 0px auto;
  }
  .introSection-left p {
    width: 600px;

    line-height: 1.8rem;
    margin-bottom: 30px;
  }
  .introSection-right {
    width: 550px;
    height: 550px;
  }
}
@media screen and (max-width: 1500px) {
  .IntroSection {
    width: 1250px;
    margin: 0px auto;
  }
  .introSection-left p {
    width: 600px;

    margin-bottom: 30px;
  }
  .introSection-right {
    transform: translateY(-90px);
    width: 550px;
    height: 550px;
  }
}
@media screen and (max-width: 1400px) {
  .IntroSection {
    width: 1150px;
    margin: 0px auto;
  }
  .introSection-left p {
    width: 500px;

    margin-bottom: 20px;
    line-height: 1.7rem;
  }
  .introSection-right {
    width: 480px;
    height: 480px;
  }
}
